<p>Add a Course to $student.getcourseName()</p>

<ul>
  #foreach ($course in $student.getCourses())
    <li>$course.getCourseNumber()</li>
  #end
</ul>

<form action='/courses/$student.getId()' method='post'>
  <div class="form-group">
    <label for="course">Enter a New Course for this Student:</label>
    <input type= "text" class="form-control" id="course" name="course">
  </div>
  <button class="btn" type="submit">Submit</button>
</form>
