<h1>Registrar Course Scheduling</h1>

#foreach ($student in $students)
  <p><a href="/students/$student.getId()">$student.getName()</a></p>
#end

<h3><a href="/students">Students</a></h3>
<h3><a href="/courses">Courses</a></h3>
