<p>Add a Task to $category.getName()</p>

<ul>
  #foreach ($task in $category.getTasks())
    <li>$task.getDescription()</li>
  #end
</ul>

<form action='/categories/$category.getId()' method='post'>
  <div class="form-group">
    <label for="task">Enter a New Task for this Category:</label>
    <input type= "text" class="form-control" id="task" name="task">
  </div>
  <button class="btn" type="submit">Submit</button>
</form>
